<div class="ms-5">
  <a [routerLink]="routesPaths.home"> <fa-icon class="fa-2x home" [icon]="faHome"></fa-icon></a>
</div>
<div class="container">
  <form [formGroup]="loginForm">
    @if (feedback()) {
    <p class="text-danger">{{ feedback() }}</p>
    }
    <div class="mb-3 col-3">
      <label for="username" class="form-label">
        <b>{{ 'usuarios.usuario' | translate | uppercase }}</b>
      </label>
      <input type="text" class="form-control" id="username" formControlName="username" />
      @if (username?.touched && username?.invalid) {
      <div class="text-danger">{{ 'usuarios.usuarioObligatorio' | translate }}</div>
      }
    </div>
    <div class="mb-3 col-3">
      <label for="password" class="form-label">
        <b>{{ 'usuarios.contraseña' | translate | uppercase }}</b>
      </label>
      <input
        type="password"
        class="form-control"
        id="password"
               formControlName="password"
      />
      @if (password?.touched && password?.invalid) {
      <div class="text-danger">{{ 'usuarios.contraseñaObligatoria' | translate }}</div>
      }
    </div>
    <button
      type="button"
      (click)="login()"
      class="btn btn-primary"
      [disabled]="loginForm.invalid"
    >
      {{ 'administracion.iniciarSesion' | translate }}
    </button>
  </form>
  <span class="mt-3 d-block">
    {{ 'administracion.preguntarCuenta' | translate }}
    <a [routerLink]="routesPaths.register" class="link-personalizado">{{ 'administracion.crearCuenta' | translate }}</a>
  </span>
</div>
