.container {
  padding: 20px;
  color: var(--color3);
}

.btn-primary {
  background: var(--color3);
  border: none;
  font-size: 14px;
  color: var(--color11);
  padding: 8px 16px;
}

.btn-primary:hover {
  background-color: var(--color1);
}

.link-personalizado, .home {
  color: var(--color3);
  text-decoration: underline;
  font-weight: bold;
}

.link-personalizado:hover, .home:hover {
  color: var(--color1);
}
