.titulo1 {
  color: #A3B18A;
}

.titulo1 a {
  color: inherit !important;
  /* el link hereda el color del padre */
  text-decoration: none;
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

fa-icon:hover {
  color: #588157;
}