.titulo1 {
  color: var(--color1);
}

.titulo1 a {
  color: inherit !important;
  /* el link hereda el color del padre */
  text-decoration: none;
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

fa-icon:hover {
  color: var(--color3);
}