<footer class="footer mt-5 ">
  <div class="row py-3">
    <div class="col-4 text-start ps-5">
      <a target="_blank" rel="noopener"
        href="manual.pdf">
        <span>{{ 'comun.manual' | translate }}</span>
      </a>
    </div>
    <div class="col-4 text-center">
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra">
        <span class="me-4">{{ 'comun.ET' | translate }}</span>
      </a>
      <a target="_blank" rel="noopener"
        href="http://intra.mdef.es/portal/intradef/Ministerio_de_Defensa/Ejercito_de_Tierra_-_UCO/UCO/UCO:132">
        <span>CENAD San Gregorio</span>
      </a>
    </div>
    <div class="col-4 text-end pe-5">
      <a [routerLink]="routesPaths.superadministrador">
        <span>{{ 'administracion.rol.Superadministrador' | translate }}</span>
      </a>
    </div>
  </div>
</footer>