div, fa-icon {
  color: var(--color1);
  font-weight: bold;
}

h5 {
  color: var(--color3);
  font-weight: bold;
}

fa-icon:hover {
  color: var(--color3);
}

.btn {
  background: var(--color3);
  padding: 0.5;
  font-size: 14px;
  color: white;
}

.btn:hover {
  background-color: var(--color1);
  color: white;
  text-decoration: none;
}
