<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Fichero -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'ficheros.editarFichero' | translate }} {{ fichero()?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ficheroForm">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label titulo1"
              ><b>{{ 'ficheros.nombre' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'comun.descripcion' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
            }
          </div>
          <!-- Categoría de fichero -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'ficheros.categoriaFichero' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-select" formControlName="categoriaFichero">
              <option [ngValue]="null">{{ 'ficheros.seleccionaCategoriaFichero' | translate }}</option>
              @for (c of categoriasFichero(); track c.idString) {
              <option [ngValue]="c">{{ c.nombre }}</option>
              }
            </select>
            @if (categoriaFichero?.touched && categoriaFichero?.invalid) {
            <div class="text-danger">{{ 'ficheros.seleccionaCategoriaFichero' | translate }}</div>
            }
          </div>
          <!-- Archivo -->
          <div class="mb-3">
            <label class="titulo1"
              ><b>{{ 'archivos.archivo' | translate | uppercase }}<sup class="text-danger">*</sup></b> (Máx:
              {{ sizeMaxDocRecurso() }} MB)</label
            >
            @if (archivoActual()) {
            <div class="d-flex flex-column align-items-start mb-2">
              <small class="text-muted mb-2">{{ 'archivos.archivoActual' | translate }}: {{ archivoActual() }}</small>
            </div>
            } @else {
            <p class="text-muted">{{ 'archivos.noArchivo' | translate }}</p>
            }
            <div class="d-flex">
              <input
                type="file"
                accept="*"
                (change)="onFileChange($event)"
                #fileInput
                hidden
              />
              <button type="button" class="btn" (click)="fileInput.click()">
                {{ 'archivos.seleccionarArchivo' | translate }}
              </button>
              @if (archivoFile()) {
              <div class="mt-2 ms-2">
                <small class="text-muted">{{ 'archivos.archivoSeleccionado' | translate }} {{ archivoFile()?.name }}</small>
              </div>
              }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          {{ 'ficheros.borrar' | translate }}
        </button>
        <button
          type="button"
          class="btn"
          (click)="editarFichero()"
          data-bs-dismiss="modal"
          [disabled]="ficheroForm.invalid"
        >
          {{ 'ficheros.guardar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ 'ficheros.eliminar' | translate }} {{ fichero()?.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">{{ 'ficheros.confirmarBorrado' | translate: { nombre: fichero()?.nombre } }}</div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          (click)="borrarFichero()"
          data-bs-dismiss="modal"
        >
          {{ 'comun.borrar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
