div {
  color: var(--color1);
  font-weight: bold
}

fa-icon:hover {
  color: var(--color3);
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  cursor: pointer;
}