<!-- muestra el contenido del recurso, con diferente vista segun este logueado como gestor del recurso o no -->
<div class="container-fluid">
  <div class="position-relative d-flex align-items-center mb-3" style="height: 50px">
    <!-- Flecha alineada a la izquierda -->
    <a class="nav-link volver me-auto"
      [routerLink]="[routesPaths.cenadHome, cenadVisitado()!.idString, routesPaths.recursos]"><fa-icon
        class="fa-2x volver" [icon]="faVolver"></fa-icon><strong>{{ 'comun.volver' | translate }}</strong>
    </a>
    <!-- Título centrado -->
    <h3 class="titulo1 position-absolute start-50 translate-middle-x text-center">
      <b>{{ recursoForm.get('nombre')?.value }}</b>
    </h3>
  </div>
  <hr class="w-100 mt-0 mb-1" />
  <!-- este boton se deberá mostrar solo si eres el gestor del recurso -->
  <div class="row align-items-start mt-0 pt-0">
    @if (isGestorEsteRecurso()) {
    <div class="col-3">
      <button class="btn text-white" (click)="cambiaRol()">{{ etiquetaBoton() }}</button>
    </div>
    }
  </div>
  @if (btnVista() !== 'Gestor') {
  <!--esta sera la vista del gestor-->
  <div>
    <form [formGroup]="recursoForm">
      <div class="row py-2">
        <div class="col-lg-3 col-md-12">
          <label class="titulo"><b>{{ 'recursos.recurso' | translate | uppercase }}<sup
                class="text-danger">*</sup></b></label>
          <input type="text" class="form-control letra" formControlName="nombre" placeholder="Nombre del recurso" />
          @if (nombre?.touched && nombre?.invalid) {
          <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
          }
        </div>
        <div class="col-lg-3 col-md-12 d-flex">
          <label class="titulo me-2"><b>{{ 'recursos.categoria' | translate | uppercase }}</b></label>
          <label class="titulo1"> {{ categoria()?.nombre }} </label>
        </div>
        <div class="col-lg-12 col-md-12 pt-3">
          <label class="titulo"><b>{{ 'comun.descripcion' | translate | uppercase }}<sup
                class="text-danger">*</sup></b></label>
          <textarea class="form-control letra" formControlName="descripcion" placeholder="Descripción del recurso"
            name="descripcion" rows="5" cols="50">
          </textarea>
          @if (descripcion?.touched && descripcion?.invalid) {
          <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
          }
        </div>
        <div class="col-lg-12 col-md-12 pt-3">
          <label class="titulo"><b>{{ 'comun.otros' | translate | uppercase }}<sup
                class="text-danger">*</sup></b></label>
          <textarea class="form-control letra" formControlName="otros" placeholder="Otros datos del recurso"
            name="otros" rows="5" cols="50">
          </textarea>
        </div>
        <div class="col-lg-12 col-md-12 pt-3">
          <label class="titulo me-2"><b>{{ 'recursos.conDatosEspecificosSolicitud' | translate }}<sup
                class="text-danger">*</sup></b></label>
          <input type="checkbox" class="letra" id="conDatosEspecificosSolicitud"
            formControlName="conDatosEspecificosSolicitud" />
        </div>
        @if (recursoForm.get('conDatosEspecificosSolicitud')?.value) {
        <div class="col-lg-12 col-md-12 pt-3">
          <label class="titulo"><b>{{ 'recursos.datosEspecificosSolicitud' | translate }}</b></label>
          <textarea class="form-control letra" formControlName="datosEspecificosSolicitud"
            placeholder="datosEspecificosSolicitud" name="datosEspecificosSolicitud" rows="5" cols="50">
          </textarea>
        </div>
        }
      </div>
      <!--aqui insertare la vista de ficheros del gestor, un listado donde crearlos y editarlos...-->
      <app-ficherosRecurso [btnVista]="btnVista()" [ficheros]="ficheros()" [idRecurso]="idRecurso()"
        (output)="recargarFicheros()" />
      <div class="form-row justify-content-between pt-3">
        <div class="col-lg-5 col-md-12 mb-4">
          <button type="button" (click)="actualizarRecurso()" class="btn">
            {{ 'comun.guardar' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
  } @else {
  <!--esta sera la vista del usuario normal-->
  <div class="container-fluid">
    <div class="titulo">
      <h4 class="text-center"><b>{{ 'comun.descripcion' | translate | uppercase }}</b></h4>
      <hr />
      <p class="texto ms-3">{{ recursoForm.get('descripcion')?.value }}</p>
    </div>
    <!--ahora tendria que recorrer los ficheros clasificados por categoria de fichero...con enlaces de descarga o modales si son imagenes-->
    <app-ficherosRecurso [btnVista]="btnVista()" [ficheros]="ficheros()" [idRecurso]="idRecurso()" />
    <div class="titulo">
      <h4 class="text-center"><b>{{ 'calendario.calendario' | translate | uppercase }}</b></h4>
      <hr />
      <a class="texto href ms-3" data-bs-toggle="modal" data-bs-target="#modal-calendario">Calendario del recurso {{
        recurso()?.nombre }}
      </a>
    </div>
    <div class="titulo">
      <h4 class="text-center"><b>{{ 'comun.otros' | translate | uppercase }}</b></h4>
      <hr />
      <p class="texto ms-3">{{recursoForm.get('otros')?.value }}</p>
    </div>
    @if (recursoForm.get('conDatosEspecificosSolicitud')?.value) {
    <div class="titulo">
      <h4 class="text-center"><b>{{ 'recursos.datosEspecificosSolicitud' | translate | uppercase }}</b></h4>
      <hr />
      <textarea class="texto" rows="6" cols="60" readonly
        [value]="recursoForm.get('datosEspecificosSolicitud')?.value"></textarea>
    </div>
    }
  </div>
  }
</div>
<!-- Modal calendario -->
<div class="modal fade" id="modal-calendario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xxl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ 'recursos.calendarioRecurso' | translate }} : {{ recurso()?.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <app-calendarioComponente [solicitudes]="solicitudesValidadas()" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
      </div>
    </div>
  </div>
</div>