.btn {
    background: var(--color3);
    padding: 0.5;
    font-size: 14px;
    color: var(--color11);
}

.btn:hover {
    background-color: var(--color1);
}

.titulo, h1 {
    color: var(--color3);
    font-weight: bold;
}

.titulo1 {
    color: var(--color1);
    font-weight: bold;
}

a.volver {
    color: var(--color3);
    font-size: 18px;
}

a.volver:hover {
    color: var(--color1);
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}

hr {
    margin-bottom: 0;
    margin-top: 1;
}

.modal {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}