.btn {
    background: #3A5A40;
}

.btn:hover {
    background-color: #A3B18A;
}

.titulo {
    color: #3A5A40;
}

.titulo1,
.letra {
    color: #588157;
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}

hr {
    margin-bottom: 0;
    margin-top: 0;
}

div.titulos {
    background-color: #DAD7CD;
}

h3 {
    color: #3A5A40;
}

.close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}