<div class="container-fluid">
  <div class="row mt-1">
    @if (isCenad()) {
    <div>
      <h3 class="text-center titulo1"><u>{{'ficheros.ficherosCenad' | translate | uppercase }}</u></h3>
    </div>
    } @else {
    <div>
      <h3 class="text-center titulo1"><u>{{'ficheros.ficherosUnidad' | translate | uppercase }}</u></h3>
    </div>
    } @if (isCenad() !== (isAdminEsteCenad() || isGestorEsteCenad())) { } @else {
    <div class="text-end">
@if (isFechaPosteriorAHoy()) {
      <button class="btn text-white" data-bs-toggle="modal" data-bs-target="#modal-nuevo-fichero">
        @if (isCenad()) {
        {{'ficheros.nuevoFicheroCenad' | translate}}
        } @else {
        {{'ficheros.nuevoFicheroUnidad' | translate}}
        }
      </button>
      }
    </div>
    }
  </div>
  <hr class="w-100 mt-2" />
  <div class="row ms-5 p-0">
    <div class="col col-md-12">
      @if (documentacion() === undefined || documentacion()?.length === 0) {
      <div class="alert alert-info text-center" role="alert">
        {{'ficheros.solicitudSinFicheros' | translate}}
      </div>
      }@else {
      <div class="row mt-2 titulos">
        <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 titulo">
          <b>{{'ficheros.fichero' | translate | uppercase }}</b>
        </div>
        <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3 titulo">
          <b>{{'ficheros.categoriaFichero' | translate | uppercase }}</b>
        </div>
        <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 titulo">
          <b>{{'comun.descripcion' | translate | uppercase }}</b>
        </div>
        <div class="col-10 col-sm-10 col-md-1 col-lg-1 col-xl-1 titulo text-center">
          <b>{{'archivos.descarga' | translate | uppercase }}</b>
        </div>
      </div>
      @for (f of documentacion(); track f.idString) {
      <app-ficheroSolicitud [fichero]="f" [idSolicitud]="idSolicitud()!" [isCenad]="isCenad()" [solicitud]="solicitud()!" />
      } }
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="modal-nuevo-fichero"
  tabindex="-1"
  aria-labelledby="modal-nuevo-fichero-Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-nuevo-fichero-Label">{{'ficheros.nuevoFichero' | translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ficheroForm">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label titulo1"
              ><b>{{'ficheros.fichero' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{'comun.nombreObligatorio' | translate}}</span>
            }
          </div>
          <!-- Categoría de fichero -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{'ficheros.categoriaFichero' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-select" formControlName="categoriaFichero">
              <option [ngValue]="null">{{'ficheros.seleccionaCategoriaFichero' | translate}}</option>
              @for (c of categoriasFichero(); track c.idString) {
              <option [ngValue]="c">{{ c.nombre }}</option>
              }
            </select>
            @if (categoriaFichero?.touched && categoriaFichero?.invalid) {
            <div class="text-danger">{{'ficheros.seleccionaCategoriaFichero' | translate}}</div>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{'comun.descripcion' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{'comun.descripcionObligatoria' | translate}}</div>
            }
          </div>
          <!-- Archivo -->
          <div class="mb-3">
            <label class="titulo1"
              ><b>{{'archivos.archivo' | translate | uppercase }}<sup class="text-danger">*</sup></b> (Máx:
              {{ sizeMaxDocSolicitud() }} MB)</label
            >
            <div class="d-flex">
              <input type="file" accept="*" (change)="onFileChange($event)" #fileInput hidden />
              <button type="button" class="btn" (click)="fileInput.click()">
                {{'archivos.seleccionarArchivo' | translate}}
              </button>
              @if (archivoFile()) {
              <div class="mt-2 ms-2">
                <small class="text-muted">{{'archivos.archivoSeleccionado' | translate}} {{ archivoFile()?.name }}</small>
              </div>
              }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{'comun.cerrar' | translate}}</button>
        <button
          type="button"
          class="btn"
          data-bs-dismiss="modal"
          [disabled]="ficheroForm.invalid"
          (click)="crearFichero()"
        >
          {{'ficheros.crearFichero' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
