<!-- muestra la vista principal de la gestión de solicitudes. -->
<div class="d-flex align-items-center position-relative p-2 bg-light">
  <!-- Botón volver a la página anterior -->
  <a
    class="nav-link volver me-auto"
    [routerLink]="[routesPaths.cenadHome, cenadVisitado()?.idString]"
  >
    <fa-icon class="fa-2x volver" [icon]="faVolver"></fa-icon>
    <strong>Volver</strong>
  </a>
  <h3 class="position-absolute start-50 translate-middle-x m-0 mb-3 titulo">
    <u>SOLICITUDES</u>
  </h3>
  @if (auth.rol == 'Normal' || isAdminEsteCenad || isGestorEsteCenad) {
  <button
    class="btn text-white ms-auto"
    data-bs-toggle="modal"
    data-bs-target="#modal-nueva-solicitud"
  >
    Nueva <b>Solicitud</b>
  </button>
  }
</div>
@if (auth.rol != 'Normal' && !isAdminEsteCenad && !isGestorEsteCenad) {
<div class="row justify-content-center">
  <h6 class="no-permiso text-center mt-4">NO TIENE PERMISO PARA GESTIONAR LAS SOLICITUDES</h6>
</div>
} @if (auth.rol == 'Normal' || isAdminEsteCenad || isGestorEsteCenad) {
<div class="row solicitadas-validadas mb-3">
  <div class="col-6 solicitadas">
    <SolicitudesEstadoComponent
      :estado="'Solicitada'"
      :solicitudes="solicitudesPorEstado.Solicitada"
    />
  </div>
  <div class="col-6 validadas">
    <SolicitudesEstadoComponent :estado="'Validada'" :solicitudes="solicitudesPorEstado.Validada" />
  </div>
</div>
} @if (auth.rol == 'Normal' || isAdminEsteCenad || isGestorEsteCenad) {
<div class="row rechazadas-canceladas mb-3">
  <div class="col-6 rechazadas">
    <SolicitudesEstadoComponent
      :estado="'Rechazada'"
      :solicitudes="solicitudesPorEstado.Rechazada"
    />
    <hr class="w-100 titulo-rechazadas" />
  </div>
  @if (auth.rol != 'Normal') {
  <div class="col-6 canceladas">
    <SolicitudesEstadoComponent
      :estado="'Cancelada'"
      :solicitudes="solicitudesPorEstado.Cancelada"
    />
  </div>
  } @else {
  <div class="col-6 borrador">
    <SolicitudesEstadoComponent :estado="'Borrador'" :solicitudes="solicitudesPorEstado.Borrador" />
  </div>
}
</div>
 }
<!-- Modal -->
<div
  class="modal fade"
  id="modal-nueva-solicitud"
  tabindex="-1"
  aria-labelledby="modal-nueva-solicitud-Label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xxl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-nueva-solicitud-Label">Nueva Solicitud</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="formulario">
          <div class="row py-2 justify-content-between">
            <div class="col-lg-2 col-md-12">
              <label class="me-2">Unidad Solicitante: <sup class="text-danger">*</sup></label>
              <select
                class="form-select"
                aria-label="unidad"
                v-model="unidad"
                v-if="auth.rol != 'Normal'"
              >
                <option disabled value="">Selecciona la unidad</option>
                <option v-for="unidad in unidades" :key="unidad.idString" :value="unidad">
                  {{ unidad.nombre }}
                </option>
              </select>
              <label class="form-control" v-else>{{ auth.unidad.nombre }}</label>
            </div>
            <div class="col-lg-2 col-md-12">
              <label>Jefe Unidad Usuaria: <sup class="text-danger">*</sup></label>
              <input
                type="text"
                class="form-control"
                v-model="jefeUnidadUsuaria"
                placeholder="Jefe UCO Usuaria"
                name="jefeUcoUsuaria"
                required
                minlength="8"
                maxlength="20"
              />
            </div>
            <div class="col-lg-2 col-md-12">
              <label for="validationServer02"
                >Fecha Solicitud: <sup class="text-danger"></sup
              ></label>
              <input
                type="date"
                class="form-control"
                v-model="fechaSolicitud"
                placeholder="dd-MM-yyyy"
                required
                name="fechaSol"
              />
            </div>
            <div class="col-lg-2 col-md-12">
              <label>POC para el EJERCICIO: <sup class="text-danger">*</sup></label>
              <input
                type="text"
                class="form-control"
                v-model="pocEjercicio"
                placeholder="POC para el Ejercicio"
                name="pocEjercicio"
                required
              />
            </div>
            <div class="col-lg-2 col-md-12">
              <label>Redactor (Teléfono): <sup class="text-danger">*</sup></label>
              <input
                type="text"
                class="form-control"
                v-model="tlfnRedactor"
                placeholder="RCT UCO/ RCT durante EX"
                name="tfno"
                required
              />
            </div>
          </div>
          <div class="row py-2 mt-2 justify-content-between">
            <div class="col-lg-4 col-md-12">
              <label class="d-block me-2 mt-2" v-if="historialCategorias.length > 0">
                Categoría Seleccionada:
                <strong>{{
                  historialCategorias[historialCategorias.length - 1].nombre.toUpperCase()
                }}</strong>
              </label>
              <label class="me-5">Categoría: <sup class="text-danger me-3">*</sup></label>
              <select
                v-if="(categoriasFiltradas || []).length > 0"
                v-model="categoriaSeleccionada"
                @change="filtrar"
                class="form-select mb-3"
              >
                <option :value="null" disabled>Selecciona una categoría</option>
                <option
                  v-for="categoria in categoriasFiltradas"
                  :key="categoria.idString"
                  :value="categoria"
                >
                  {{ categoria.nombre.toUpperCase() }}
                </option>
              </select>
              <div class="d-flex gap-2 mb-2">
                <button
                  v-if="historialCategorias.length > 0"
                  @click="retroceder"
                  class="btn btn-secondary"
                >
                  Atrás
                </button>
                <button
                  v-if="historialCategorias.length > 0"
                  @click="borrarFiltros"
                  class="btn btn-danger"
                >
                  Borrar filtros
                </button>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <label>Recurso: <sup class="text-danger me-2">*</sup></label>
              <select name="recursos" id="recursos" v-model="idRecurso" required>
                <option value="" disabled selected>Selecciona un recurso</option>
                <option
                  v-for="recurso in recursos"
                  :key="recurso.idString"
                  :value="recurso.idString"
                >
                  {{ recurso.nombre }}
                </option>
              </select>
            </div>
            <div class="col-lg-2 col-md-12">
              <label for="validationServer02"
                >Fecha-Hora Inicio: <sup class="text-danger"></sup
              ></label>
              <input
                type="datetime-local"
                class="form-control"
                v-model="fechaInicio"
                placeholder="dd-MM-yyyy HH:mm:ss"
                required
              />
            </div>
            <div class="col-lg-2 col-md-12">
              <label for="validationServer02"
                >Fecha-Hora Fin: <sup class="text-danger"></sup
              ></label>
              <input
                type="datetime-local"
                class="form-control"
                v-model="fechaFin"
                placeholder="dd-MM-yyyy HH:mm:ss"
                required
              />
            </div>
          </div>
          <div class="row py-2 mt-2 justify-content-center me-3">
            <div class="col-lg-12 col-md-12">
              <label>Observaciones: <sup class="text-danger">*</sup></label>
              <textarea
                class="form-control"
                name="observacionesUco"
                v-model="observaciones"
                placeholder="Observaciones de la UCO"
              >
              </textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ $t('comun.cerrar') }}
        </button>
        <button
          type="button"
          @click="crearSolicitud"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          :disabled="!formularioValidado"
          v-if="auth.rol == 'Normal'"
        >
          Crear Solicitud (Borrador)
        </button>
        <button
          type="button"
          @click="crearYEnviarSolicitud"
          data-bs-dismiss="modal"
          class="btn btn-primary"
          :disabled="!formularioValidado"
        >
          Crear y Enviar Solicitud
        </button>
      </div>
    </div>
  </div>
</div>
