.row {
    height: auto;
    padding: auto;
    margin: auto;
}

hr {
    margin-bottom: 1;
    margin-top: 0;
}

div.validadas,
div.canceladas,
div.solicitadas,
div.rechazadas,
div.borrador {
    border: 3px solid var(--color8);
}

h6.no-permiso {
    color: var(--color1);
    text-shadow: var(--color7);
    font-weight: bold;
    font-size: x-large;
}

a.volver {
    color: var(--color3);
    font-size: 18px;
}

a.volver:hover {
    color: var(--color1);
}