<!-- muestra la vista principal de la gestión de solicitudes. -->
<div class="d-flex align-items-center position-relative p-2 bg-light">
  <!-- Botón volver a la página anterior -->
  <a
    class="nav-link volver me-auto"
    [routerLink]="[routesPaths.cenadHome, cenadVisitado()?.idString]"
  >
    <fa-icon class="fa-2x volver" [icon]="faVolver"></fa-icon>
    <strong>Volver</strong>
  </a>
  <h3 class="position-absolute start-50 translate-middle-x m-0 mb-3 titulo">
    <u>SOLICITUDES</u>
  </h3>
  @if (usuarioLogueado()?.rol === misRoles.Normal || isAdminEsteCenad() || isGestorEsteCenad()) {
    <!-- Botón crear solicitud -->
    <app-solicitudNuevaModal class="position-absolute end-0"/>
  }
</div>
@if (usuarioLogueado()?.rol !== misRoles.Normal && !isAdminEsteCenad() && !isGestorEsteCenad()) {
<div class="row justify-content-center">
  <h6 class="no-permiso text-center mt-4">NO TIENE PERMISO PARA GESTIONAR LAS SOLICITUDES</h6>
</div>
} @if (usuarioLogueado()?.rol === misRoles.Normal || isAdminEsteCenad() || isGestorEsteCenad()) {
<div class="row solicitadas-validadas mb-3">
  <div class="col-6 solicitadas">
    <app-solicitudesEstado
      [estado]="estadoSolicitud().Solicitada"
    />
  </div>
  <div class="col-6 validadas">
    <app-solicitudesEstado
      [estado]="estadoSolicitud().Validada"
    />
  </div>
</div>
} @if (usuarioLogueado()?.rol === misRoles.Normal || isAdminEsteCenad() || isGestorEsteCenad()) {
<div class="row rechazadas-canceladas mb-3">
  <div class="col-6 rechazadas">
    <app-solicitudesEstado
      [estado]="estadoSolicitud().Rechazada"
    />
  </div>
  @if (usuarioLogueado()?.rol !== misRoles.Normal) {
  <div class="col-6 canceladas">
    <app-solicitudesEstado
      [estado]="estadoSolicitud().Cancelada"
    />
  </div>
  } @else {
  <div class="col-6 borrador">
    <app-solicitudesEstado
      [estado]="estadoSolicitud().Borrador"
    />
  </div>
  }
</div>
}

