
a.volver {
  color: var(--color3);
  font-size: 18px;
}

a.volver:hover {
  color: var(--color1);
}

.btn {
    background: var(--color3);
    padding: 0.5;
    font-size: 14px;
    color: var(--color11);
}

.btn:hover {
    background-color: var(--color1);
}
.categoriaSeleccionada {
    font-weight: bold;
    font-size: large;
}

h5 {
    color: var(--color2);
    font-weight: bold;
}
