<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Unidad -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'unidades.editarUnidad' | translate }} {{ unidad()?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="unidadForm">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label"
              ><b>{{ 'unidades.unidad' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
            }
          </div>
          <!-- Dirección -->
          <div class="mb-3">
            <label for="direccion" class="form-label"
              ><b>{{ 'comun.direccion' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="direccion" class="form-control" formControlName="direccion" />
            @if (direccion?.touched && direccion?.invalid) {
            <span class="text-danger">{{ 'comun.direccionObligatoria' | translate }}</span>
            }
          </div>
          <!-- Teléfono -->
          <div class="mb-3">
            <label for="tfno" class="form-label"
              ><b>{{ 'comun.telefono' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="tfno" class="form-control" formControlName="tfno" />
            @if (tfno?.touched && tfno?.invalid) {
            <span class="text-danger">{{ 'comun.telefonoObligatorio' | translate }}</span>
            }
          </div>
          <!-- Email -->
          <div class="mb-3">
            <label for="email" class="form-label"
              ><b>{{ 'comun.email' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="email" id="email" class="form-control" formControlName="email" />
            <div id="emailHelp" class="form-text">{{ 'comun.correoValido' | translate }}</div>
            @if (email?.touched && email?.invalid) {
            <span class="text-danger">{{ 'comun.emailObligatorio' | translate }}</span>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label"
              ><b>{{ 'comun.descripcion' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
            }
          </div>
          <!-- POC -->
          <div class="mb-3">
            <label for="poc" class="form-label"
              ><b>{{ 'unidades.poc' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="poc" class="form-control" formControlName="poc" />
            @if (poc?.touched && poc?.invalid) {
            <span class="text-danger">{{ 'unidades.pocObligatorio' | translate }}</span>
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          {{ 'unidades.borrar' | translate }}
        </button>
        <button
          type="button"
          class="btn"
          (click)="editarUnidad()"
          data-bs-dismiss="modal"
          [disabled]="unidadForm.invalid"
        >
          {{ 'unidades.guardar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ 'unidades.eliminar' | translate }} {{ unidad()?.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">{{ 'unidades.confirmarBorrado' | translate: { nombre: unidad()?.nombre } }}</div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          (click)="borrarUnidad()"
          data-bs-dismiss="modal"
        >
          {{ 'comun.borrar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
