
div {
  color: #A3B18A;
  font-weight: bold;
}

fa-icon:hover, p {
  color: #588157;
}

.btn {
  background: #A3B18A;
  padding: 0.5;
  font-size: 14px;
  color: white;
}

.btn:hover {
  background-color: #588157;
  color: white;
  text-decoration: none;
}
