<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Usuario Superadministrador -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Editar Usuario {{ usuarioTipado.rol }} {{ usuarioTipado.username }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usuarioForm">
          <!-- Username -->
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="username" class="form-label"
              ><b>USUARIO<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" id="username" formControlName="username" />
            @if (username?.touched && username?.invalid) {
            <div class="text-danger">El usuario es obligatorio.</div>
            }
          </div>
          <!-- Teléfono -->
          <div class="mb-3 col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <label for="tfno" class="form-label"
              ><b>TELÉFONO<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" id="tfno" formControlName="tfno" />
            @if (tfno?.touched && tfno?.invalid) {
            <span class="text-danger">El teléfono es obligatorio y debe tener 9 dígitos</span>
            }
          </div>
          <!-- Email -->
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="email" class="form-label"
              ><b>CORREO ELECTRÓNICO<sup class="text-danger">*</sup></b></label
            >
            <input type="email" class="form-control" id="email" formControlName="email" />
            <div id="emailHelp" class="form-text">Debe ser un correo válido</div>
            @if (email?.touched && email?.invalid) {
            <span class="text-danger">El correo electrónico es obligatorio y debe ser válido</span>
            }
          </div>
          <!-- Notificaciones -->
          <div class="mb-3">
            <label class="form-label me-2"><b>¿QUIERE RECIBIR NOTIFICACIONES?</b></label>
            <input
              type="checkbox"
              class="letra"
              id="emailAdmitido"
              formControlName="emailAdmitido"
            />
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label"
              ><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" id="descripcion" formControlName="descripcion">
            </textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">La descripción es obligatoria.</div>
            }
          </div>
          <!-- Unidad -->
          @if (usuarioTipado.rol === 'Normal') {
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="unidad" class="form-label"
              ><b>UNIDAD</b></label
            >
            <p>{{ unidad()?.nombre }}</p>
          </div>
          }
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          Borrar Usuario
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="editarUsuario()"
          data-bs-dismiss="modal"
          [disabled]="usuarioForm.invalid"
        >
          Guardar Usuario
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          Eliminar Usuario Superadministrador {{ usuarioTipado.username }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">¿Desea eliminar {{ usuarioTipado.username }}?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="borrarUsuario()"
          data-bs-dismiss="modal"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
