h2, .bienvenido,
.select-provincia, 
.seleccione,
.busqueda {
    color: var(--color2);
}

div.interactivo {
    display: block;
    width: 600px;
    align-content: center;
    margin: auto;
    padding-bottom: 2px;
}

div.filtro {
    border: 6px solid var(--color3);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.no-existe, div.resultado {
    color: var(--color1);
    font-weight: 700;
}
