.titulo {
    color: var(--color3);
    font-weight: bold;
}

a.volver {
    color: var(--color3);
    font-size: 18px;
}

a.volver:hover {
    color: var(--color1);
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}

div.filtro {
    border: 6px solid var(--color2);
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}