<!-- muestra la vista principal de la gestión de usuarios. si se accede como superadministrador mostrará
administradores y normales y si se entra como administrador de un cenad mostrara gestores de su cenad y normales -->
<div class="d-flex align-items-center position-relative p-2 bg-light">
  <a class="nav-link volver me-auto" [routerLink]="[name(), params()]"
    ><fa-icon class="fa-2x volver" [icon]="faVolver"></fa-icon><strong>{{ 'comun.volver' | translate }}</strong>
  </a>
  <h3 class="position-absolute start-50 translate-middle-x m-0 mb-3 titulo">
    <u>{{ 'usuarios.gestion' | translate | uppercase}}</u>
  </h3>
  @if (rol() === misRoles.Normal || (rol() === misRoles.Administrador && !isMiCenad())) {
  <div class="row ms-5 p-0 mt-5">
    <p class="titulo mt-5">{{ 'usuarios.noAutorizado' | translate | uppercase}}</p>
  </div>
  }
</div>
<!-- vista de superadministrador->ve superadministradores,administradores y usuarios normales -->
@if (rol() === misRoles.Superadministrador) {
<div class="row ms-5">
  <!-- superadministradores -->
  <div class="col col-md-4">
    <app-usuariosSuperadministrador-page />
  </div>
  <!-- administradores -->
  <div class="col col-md-4 filtro">
    <app-usuariosAdministrador-page />
  </div>
  <!-- usuarios normales -->
  <div class="col col-md-4 filtro">
    <app-usuariosNormal-page />
  </div>
</div>
} @if (rol() === misRoles.Administrador && isMiCenad()) {
<!-- vista de administrador->ve gestores y usuarios normales -->
<div class="row ms-5">
  <!-- Gestores -->
  <div class="col col-md-6">
    <app-usuariosGestor-page />
  </div>
  <!-- usuarios normales -->
  <div class="col col-md-6 filtro">
    <app-usuariosNormal-page />
  </div>
</div>
}
