.btn {
    background: var(--color3);
    padding: 0.5;
    font-size: 14px;
    color: var(--color11);
}

.btn:hover {
    background-color: var(--color1);
}

.titulos {
    color: var(--color3);
    font-weight: bold;
    font-size: small;
}

h5 {
    color: var(--color8);
    font-weight: bold;
}

.modal {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.modal-body {
  max-height: 70vh; /* Ocupa máximo 70% del alto visible */
  overflow-y: auto; /* Habilita scroll vertical */
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}

hr {
    margin-bottom: 1;
    margin-top: 0;
}

h6.no-existen {
    color: var(--color1);
    text-shadow: var(--color7);
    font-weight: bold;
    font-size: x-large;
}

label.ver-todas {
    font-size: medium;
}

.ver-todas:hover {
    color: var(--color14);
    font-weight: bold;
}
