<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()" class="text-end">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Categoría -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'categorias.editar' | translate }} {{ categoria()!.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoriaForm">
          <div class="mb-3">
            <label
              ><b>{{ 'categorias.categoria' | translate | uppercase}}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
          <div class="mb-3">
            <label
              ><b>{{ 'comun.descripcion' | translate | uppercase}}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" formControlName="descripcion" />
          </div>
          <!-- Categoría Padre -->
          <div class="mb-3">
            <label class="form-label titulo1"><b>{{ 'categorias.categoriaPadre' | translate | uppercase}}</b></label>
            <select class="form-select" formControlName="categoriaPadre">
              <option [ngValue]="null">
                {{ 'categorias.noPadre' | translate }}
              </option>
              @for (c of categorias(); track c.idString) {
              <option [ngValue]="c">
                {{ c.nombre }}
              </option>
              }
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          {{ 'categorias.borrar' | translate }}
        </button>
        <button
          type="button"
          class="btn"
          (click)="editarCategoria()"
          data-bs-dismiss="modal"
          [disabled]="categoriaForm.invalid"
        >
          {{ 'categorias.guardar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ 'categorias.eliminar' | translate }} {{ categoria()!.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">{{ 'categorias.confirmarBorrado' | translate: { nombre: categoria()!.nombre } }}</div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          (click)="borrarCategoria()"
          data-bs-dismiss="modal"
        >
          {{ 'comun.borrar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
