<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Categoría -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Categoría {{ categoria()!.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoriaForm">
          <div class="mb-3">
            <label
              ><b>CATEGORÍA<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
          <div class="mb-3">
            <label
              ><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" formControlName="descripcion" />
          </div>
          <!-- Categoría Padre -->
          <div class="mb-3">
            <label class="form-label titulo1"><b>CATEGORÍA PADRE</b></label>
            <select class="form-select" formControlName="categoriaPadre">
              <option [ngValue]="null" disabled selected>
                Puede seleccionar una Categoría Padre
              </option>
              @for (c of categorias(); track c.idString) {
              <option [ngValue]="c">
                {{ c.nombre }}
              </option>
              }
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          Borrar Categoría
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="editarCategoria()"
          data-bs-dismiss="modal"
          [disabled]="categoriaForm.invalid"
        >
          Guardar Categoría
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Eliminar Categoría {{ categoria()!.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">¿Desea eliminar {{ categoria()!.nombre }}?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="borrarCategoria()"
          data-bs-dismiss="modal"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
