a.volver {
  color: var(--color3);
  font-size: 18px;
}

a.volver:hover {
  color: var(--color1);
}

.titulo {
  text-align: center;
  margin-top: 5px;
  color: var(--color3);
  font-weight: bold;
}

.titulo1 {
  color: var(--color1);
}

h1 {
  color: var(--color3);
  font-weight: bold;
}

.select-wrapper {
  display: inline-block;
  position: relative;
}

.select-wrapper select {
  width: auto;
  /* ancho automático según contenido */
  min-width: 200px;
  /* ancho mínimo opcional */
  max-width: 100%;
  /* que no sobresalga del contenedor */
}