<!-- muestra la vista principal del superadministrador -->
<div class="container-fluid">
<div class="row ">
    <div class="col col-md-2 p-3">
      <img class="madoc" width="80" height="110" alt="MADOC" src="img/madoc.png" />
    </div>
    <div class="col col-md-7 align-self-center mt-4">
      <h1 class="text-center titulo1"><u><b>{{ 'administracion.rol.Superadministrador' | translate | uppercase }}</b></u></h1>
    </div>
    <div class="col col-md-1 mt-4 ml-5">
      <h2 class="text-center">SICENAD</h2>
    </div>
  </div>
<div class="row justify-content-center align-items-center">
    <div class="col-4 ps-0">
      <a class="nav-link ml-4 home" [routerLink]="routesPaths.home"
        ><fa-icon class="fa-2x home" [icon]="faHome"></fa-icon><strong>{{ 'administracion.inicio' | translate | uppercase }}</strong></a
      >
    </div>
    <div class="col-8 d-flex justify-content-end">
      <button class="btn cenad me-2" [routerLink]="routesPaths.cenads" routerLinkActive="active">
        <b>{{ 'administracion.cenads' | translate | uppercase }}</b>
      </button>
      <button class="btn usuario me-2" [routerLink]="routesPaths.usuariosSuper" routerLinkActive="active">
        <b>{{ 'administracion.usuarios' | translate | uppercase }}</b>
      </button>
      <button class="btn unidad me-2" [routerLink]="routesPaths.unidadesSuper" routerLinkActive="active">
        <b>{{ 'administracion.unidades' | translate | uppercase }}</b>
      </button>
      <button class="btn tipoFormulario me-2" [routerLink]="routesPaths.tiposFormulario" routerLinkActive="active">
        <b>{{ 'administracion.tiposFormulario' | translate | uppercase }}</b>
      </button>
      <button class="btn categoriaFichero me-2" [routerLink]="routesPaths.categoriasFichero" routerLinkActive="active">
        <b>{{ 'administracion.categoriasFichero' | translate | uppercase }}</b>
      </button>
      <button class="btn arma me-2" [routerLink]="routesPaths.armas" routerLinkActive="active">
        <b>{{ 'administracion.armas' | translate | uppercase }}</b>
      </button>
    </div>
    <hr class="w-100 mt-3" />
  </div>
  <router-outlet />
</div>
