<div class="d-flex align-items-center position-relative p-2 bg-light">
  <a class="nav-link volver me-auto" [routerLink]="routesPaths.superadministrador"
    ><fa-icon class="fa-2x volver" [icon]="faVolver"></fa-icon><strong>{{ 'comun.volver' | translate }}</strong>
  </a>
  <h3 class="position-absolute start-50 translate-middle-x m-0 titulo">
    <u>{{ 'tiposFormulario.gestion' | translate | uppercase }}</u>
  </h3>
  <button
    class="btn text-white ms-auto"
    data-bs-toggle="modal"
    data-bs-target="#modal-nuevo-tipo-formulario"
  >
    <strong>{{ 'tiposFormulario.nuevoTipoFormulario' | translate }}</strong>
  </button>
</div>
<hr class="w-100" />
<div class="row ms-5 p-0">
  <div class="col col-md-12">
    <div class="row mt-2 titulos">
      <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4 titulo">
        <b>{{ 'tiposFormulario.tipoFormulario' | translate | uppercase }}</b>
      </div>
      <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 titulo">
        <b>{{ 'comun.descripcion' | translate | uppercase }}</b>
      </div>
    </div>
    @for (t of tiposFormulario(); track t.idString) {
    <app-tipoFormulario [tipoFormulario]="t"></app-tipoFormulario>
    }
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-nuevo-tipo-formulario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="tipoFormularioForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5 titulo">{{ 'tiposFormulario.nuevoTipoFormulario' | translate }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label titulo1"
              ><b>{{ 'tiposFormulario.tipoFormulario' | translate |uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'comun.descripcion' | translate |uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            [disabled]="tipoFormularioForm.invalid"
            (click)="crearTipoFormulario()"
          >
            {{ 'tiposFormulario.crearTipoFormulario' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
