h3 {
    color: var(--color3);
}

img.cenad {
  display: block;
  width: 365px;
  height: 533px;
  align-content: center;
  margin: auto;
  padding-bottom: 2px;
}

div.enlaces {
  border: 6px solid var(--color3);
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

div a {
  color: var(--color2);
  font-weight: bold;
  font-size: 20px;
}

div a:hover {
  color: var(--color13);
}
