.btn {
  background: var(--color3);
  padding: 0.5;
  font-size: 14px;
  color: var(--color11);
}

.btn:hover {
  background-color: var(--color1);
}

.modal {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}

select {
    color: var(--color3);
}

.modal-xxl {
    max-width: 95%;
    /* casi toda la pantalla, pero con margen */
}

.modal-content {
    height: 100vh;
    /* Ocupa el 100% de la altura de la pantalla */
    border-radius: 0;
    /* Quita esquinas redondeadas para fullscreen */
}

.modal-body {
    overflow-y: auto;
    /* Scroll solo si el contenido se pasa */
    max-height: calc(100vh - 120px);
    /* Deja espacio para header y footer */
}

.formulario {
    color: var(--color3);
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--color1);
    background-color: var(--color9);
}
