.btn {
    background: #588157;
    padding: 0.5;
    font-size: 14px;
}

.btn:hover {
    background-color: #a3b18a;
}

.modal {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.row {
    height: auto;
    padding: auto;
    margin: auto;
}


select {
    color: #588157;
}


.modal-xxl {
    max-width: 95%;
    /* casi toda la pantalla, pero con margen */
}

.modal-content {
    height: 100vh;
    /* Ocupa el 100% de la altura de la pantalla */
    border-radius: 0;
    /* Quita esquinas redondeadas para fullscreen */
}

.modal-body {
    overflow-y: auto;
    /* Scroll solo si el contenido se pasa */
    max-height: calc(100vh - 120px);
    /* Deja espacio para header y footer */
}

.formulario {
    color: #3a5a40;
    font-weight: bold;
    text-shadow: 1px 1px 1px #a3b18a;
    background-color: #dad7cd;
}
