.active {
    font-weight: bold;
    color: var(--color15) !important;
}

.btn {
    background: var(--color3);
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: var(--color11);
}
.btn:hover {
    background-color: var(--color1);
}
.btn.active {
    background-color: var(--color10);
}
button.active:hover {
    background-color: var(--color10);
}
h3 {
    color: var(--color3);
}