<div class="row text-center">
    <h3>{{ getFormattedTitle(view(), viewDate(), locale()) }}</h3>{{locale()}} 

    <div class="d-flex justify-content-center gap-3 mb-4">
        <button
            class="btn"
            (click)="viewChange.emit(CalendarView.Month)"
            [class.active]="view() === CalendarView.Month"
        >
            {{'calendario.mes' | translate}}
        </button>
        <button
            class="btn"
            (click)="viewChange.emit(CalendarView.Week)"
            [class.active]="view() === CalendarView.Week"
        >
            {{'calendario.semana' | translate}}
        </button>
        <button
            class="btn"
            (click)="viewChange.emit(CalendarView.Day)"
            [class.active]="view() === CalendarView.Day"
        >
            {{'calendario.dia' | translate}}
        </button>
    </div>
    <div class="d-flex justify-content-center gap-3 mb-4">
        <button
            class="px-3 py-1 bg-gray-200 rounded"
            mwlCalendarPreviousView
            [view]="view()"
            [viewDate]="viewDate()"
            (viewDateChange)="onViewDateChange($event)"
        >
            {{'calendario.anterior' | translate}}
    </button>
        <button
            class="px-3 py-1 bg-gray-200 rounded"
            mwlCalendarToday
            [viewDate]="viewDate()"
            (viewDateChange)="onViewDateChange($event)"
        >
            {{'calendario.hoy' | translate}}
</button>
        <button
            class="px-3 py-1 bg-gray-200 rounded"
            mwlCalendarNextView
            [view]="view()"
            [viewDate]="viewDate()"
            (viewDateChange)="onViewDateChange($event)"
        >
            {{'calendario.siguiente' | translate}}
        </button>
    </div>
</div>
<br />
