<div class="d-flex align-items-center position-relative p-2 bg-light">
  <a
    class="nav-link volver me-auto"
    [routerLink]="[routesPaths.cenadHome, cenadVisitado()?.idString]"
  >
    <fa-icon class="fa-2x volver" [icon]="faVolver"></fa-icon>
    <strong>{{ 'comun.volver' | translate }}</strong>
  </a>
  <h3 class="position-absolute start-50 translate-middle-x m-0 titulo">
    <u>{{ 'recursos.recursosCenad' | translate: { cenad: cenadVisitado()?.nombre } | uppercase }}</u>
  </h3>
  <button
    class="btn text-white ms-auto"
    data-bs-toggle="modal"
    data-bs-target="#modal-nuevo-recurso"
  >
    {{ 'recursos.nuevoRecurso' | translate }}
  </button>
</div>
<hr class="w-100" />
<!-- Filtro de búsqueda -->
<div class="row mb-3">
  <div class="col-md-6 mx-auto">
    <input
      type="text"
      class="form-control"
      placeholder= "{{ 'recursos.filtroNombre' | translate }}"
      [value]="filtro()"
      (input)="filtro.set($any($event.target).value)"
    />
  </div>
</div>
<app-filtroRecursos
  (recursosFiltradosChange)="actualizarRecursosFiltrados($event)"
  (categoriaSeleccionadaChange)="actualizarCategoriaSeleccionada($event)"
/>
<!-- Lista de recursos -->
<div class="row ms-5 p-0" #topScroll>
  <div class="col col-md-12">
    <div class="row mt-2 titulos">
      <div class="col-md-3 titulo"><b>{{ 'recursos.recurso' | translate | uppercase }}</b></div>
      <div class="col-md-9 titulo"><b>{{ 'comun.descripcion' | translate | uppercase }}</b></div>
    </div>
    @if (recursosFiltrados().length > 0) { @for (r of recursosFiltrados(); track r.idString) {
    <app-recurso [recurso]="r" />
    } } @else {
    <div class="text-muted mt-3">{{ 'recursos.sinRecursos' | translate }}</div>
    }
  </div>
</div>
<!-- Modal para crear recurso -->
<div class="modal fade" id="modal-nuevo-recurso" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="recursoForm">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{ 'recursos.nuevoRecurso' | translate }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label titulo1">
              <b>{{ 'recursos.recurso' | translate | uppercase}}<sup class="text-danger">*</sup></b>
            </label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1">
              <b>{{ 'comun.descripcion' | translate | uppercase }}<sup class="text-danger">*</sup></b>
            </label>
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
            }
          </div>
          <!-- Otros -->
          <div class="mb-3">
            <label for="otros" class="form-label titulo1">
              <b>{{ 'comun.otros' | translate | uppercase }}</b>
            </label>
            <input type="text" id="otros" class="form-control" formControlName="otros" />
          </div>
          <!-- Tipo de formulario -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'recursos.tipoFormulario' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-select" formControlName="tipoFormulario">
              <option [ngValue]="null">{{ 'recursos.seleccionaTipoFormulario' | translate }}</option>
              @for (t of tiposFormulario(); track t.idString) {
              <option [ngValue]="t">{{ t.nombre }}</option>
              }
            </select>
          </div>
          <!-- Categoría -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'recursos.categoria' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-select" formControlName="categoria">
              <option [ngValue]="null">{{ 'recursos.seleccionaCategoria' | translate }}</option>
              @for (c of categorias(); track c.idString) {
              <option [ngValue]="c">{{ c.nombre }}</option>
              }
            </select>
          </div>
          <!-- Usuario Gestor -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>{{ 'recursos.usuarioGestor' | translate | uppercase }}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-select" formControlName="usuarioGestor">
              <option [ngValue]="null">{{ 'recursos.seleccionaUsuarioGestor' | translate }}</option>
              @for (u of usuariosGestor(); track u.idString) {
              <option [ngValue]="u">{{ u.username }}</option>
              }
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
          <button
            type="button"
            class="btn"
            data-bs-dismiss="modal"
            [disabled]="recursoForm.invalid"
            (click)="crearRecurso()"
          >
            {{ 'recursos.crearRecurso' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
