.btn {
    background: var(--color3);
    color: var(--color11);
}

.btn:hover {
    background-color: var(--color1);
}

.titulo, h1 {
  color: var(--color3);
}

.titulo1,
.letra {
  color: var(--color1);
}

a {
  text-decoration: none;
  /* Sin subrayado */
  color: var(--color3);
  /* Color por defecto */

}

.download-link {
  cursor: pointer;
}

a:visited {
  color: var(--color3);
  /* Evita color morado */
}

a:hover {
  color: var(--color1);
  /* Color al pasar el mouse */
}

a:active {
  color: var(--color3);
  /* Mantiene color al hacer clic */
}

a.volver:hover,
.href:hover {
  color: var(--color1);
}

.row {
  height: auto;
  padding: auto;
  margin: auto;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}

div.titulos {
  background-color: var(--color11);
}

figure {
  display: inline-block;
}

.texto {
  white-space: pre-wrap;
}

h3 {
  color: var(--color3);
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

figure {
  display: inline-block;
}
