<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Categoría de fichero -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'categoriasFichero.editarCategoriaFichero' | translate }} {{ categoriaFichero()?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoriaFicheroForm">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label"
              ><b>{{ 'categoriasFichero.categoriaFichero' | translate | uppercase}}<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">{{ 'comun.nombreObligatorio' | translate }}</span>
            }
          </div>
          <!-- Tipo -->
          <div class="mb-3">
            <label class="titulo me-2"
              ><b>{{ 'categoriasFichero.tipo' | translate | uppercase}}<sup class="text-danger">*</sup></b></label
            >
            <select class="form-control letra" formControlName="tipo">
              <option value=0>{{ 'categoriasFichero.imagenes' | translate }}</option>
              <option value=1>{{ 'categoriasFichero.otrosArchivos' | translate }}</option>
            </select>
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label"
              ><b>{{ 'comun.descripcion' | translate | uppercase}}<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">{{ 'comun.descripcionObligatoria' | translate }}</div>
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          {{ 'categoriasFichero.borrar' | translate }}
        </button>
        <button
          type="button"
          class="btn"
          (click)="editarCategoriaFichero()"
          data-bs-dismiss="modal"
          [disabled]="categoriaFicheroForm.invalid"
        >
          {{ 'categoriasFichero.guardar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ 'categoriasFichero.eliminar' | translate }} {{ categoriaFichero()?.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">{{ 'categoriasFichero.confirmarBorrado' | translate: { nombre: categoriaFichero()?.nombre } }}</div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">{{ 'comun.cerrar' | translate }}</button>
        <button
          type="button"
          class="btn"
          (click)="borrarCategoriaFichero()"
          data-bs-dismiss="modal"
        >
          {{ 'comun.borrar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
