<!-- Botón para abrir modal -->
<a [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + idModal()">
  <fa-icon class="fa" [icon]="faEdit"></fa-icon>
</a>
<!-- Modal Editar Normativa -->
<div class="modal fade" [id]="idModal()" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Normativa {{ normativa()?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="normativaForm">
          <!-- Nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label titulo1"
              ><b>NOMBRE DE LA NORMATIVA<sup class="text-danger">*</sup></b></label
            >
            <input type="text" id="nombre" class="form-control" formControlName="nombre" />
            @if (nombre?.touched && nombre?.invalid) {
            <span class="text-danger">El nombre es obligatorio</span>
            }
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" formControlName="descripcion"></textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">La descripción es obligatoria.</div>
            }
          </div>
          <!-- Archivo -->
          <div class="mb-3">
            <label class="titulo1"
              ><b>ARCHIVO<sup class="text-danger">*</sup></b> (Máx:
              {{ sizeMaxDocRecurso() }} MB)</label
            >
            @if (archivoActual()) {
            <div class="d-flex flex-column align-items-start mb-2">
              <small class="text-muted mb-2">Archivo actual: {{ archivoActual() }}</small>
            </div>
            } @else {
            <p class="text-muted">No hay ningún archivo cargado</p>
            }
            <div class="d-flex">
              <input
                type="file"
                accept="*"
                (change)="onFileChange($event)"
                #fileInput
                hidden
              />
              <button type="button" class="btn" (click)="fileInput.click()">
                Seleccionar archivo
              </button>
              @if (archivoFile()) {
              <div class="mt-2 ms-2">
                <small class="text-muted">Archivo seleccionado: {{ archivoFile()?.name }}</small>
              </div>
              }
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          [attr.data-bs-target]="'#' + idModalEliminar()"
          data-bs-toggle="modal"
        >
          Borrar Normativa
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="editarNormativa()"
          data-bs-dismiss="modal"
          [disabled]="normativaForm.invalid"
        >
          Guardar Normativa
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal eliminar -->
<div class="modal fade" [id]="idModalEliminar()" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Eliminar Normativa {{ normativa()?.nombre }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">¿Desea eliminar {{ normativa()?.nombre }}?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="borrarNormativa()"
          data-bs-dismiss="modal"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>
