h1 {
  color: var(--color3);
  font-weight: bold;
}

div.titulo {
  background-color: var(--color1);
  text-align: center;
  height: 5em;
  align-items: center;
}

div.menu a {
  color: var(--color3);
  font-weight: bold;
  font-size: 18px;
  margin-top: 12px;
  margin-right: 20px;
}

div a:hover, fa-icon:hover {
  color: var(--color13);
}

li.home {
  margin-top: 0;
  padding-top: 0;
}

div.menu a.home {
  margin-top: 0;
}

div.consultar {
  width: 320px !important;
}

div.otros {
  width: 220px !important;
}

.dropdown-menu {
  display: none;
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

div.submenu {
  display: none !important;
  position: relative;
}

.dropdown-submenu:hover .submenu {
  display: block !important;
  position: relative;
}

.homePrincipal {
  cursor: pointer;
}