<header>
  <span class="d-flex mb-2">
    <h5 class="me-3">{{ 'comun.seleccionaIdioma' | translate }}</h5>
    <span class="dropdown">
      <button class="btn dropdown-toggle d-flex align-items-center rounded-pill px-3" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="getBandera(idiomaActual())" width="20" height="15" alt="Bandera" class="me-2" />
        {{ getEtiqueta(idiomaActual()) }}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        @for (idioma of idiomasDisponibles(); track idioma) {
        <li>
          <a class="dropdown-item d-flex align-items-center" href="#"
            (click)="cambiarIdioma(idioma.codigo); $event.preventDefault()">
            <img [src]="idioma.bandera" width="20" height="15" class="me-2" />
            {{ idioma.etiqueta }}
          </a>
        </li>
        }
      </ul>
    </span>
    <button class="btn rounded-pill px-3 ms-4" (click)="mostrarAlert()">
      {{ 'comun.mostrarIdioma' | translate }}
    </button>
  </span>
  @if (token()) {
  <p class="alert alert-success">
    {{ username() }} {{ 'administracion.autenticadoComo' | translate }} {{ identificacion() }}
    @if (usuarioModal()) {
    <app-usuario-modal class="ms-2 me-2" [usuario]="usuarioModal()" [cenad]="cenadPropioModal()" [unidad]="unidadPropiaModal()" [isMiUsuario]="true" />
    }
    <button class="btn ms-3" (click)="logout()">{{ 'administracion.cerrarSesion' | translate }}</button>
  </p>
  } @else {
  <p class="alert alert-danger">
    {{ 'administracion.noAutenticado' | translate }}
    <button class="btn ms-2 me-3" [routerLink]="routesPaths.login">
      {{ 'administracion.iniciarSesion' | translate }}
    </button>
    {{ 'administracion.necesitasIniciarSesion' | translate }}
  </p>
  }
</header>