<div>
  <h5 class="text-center titulo"><b>USUARIOS NORMALES</b></h5>
  <hr class="w-100" />
  <div class="d-flex justify-content-end mb-2">
    <button
      class="btn text-white mt-2"
      data-bs-toggle="modal"
      data-bs-target="#modal-nuevo-usuarioNormal"
    >
      Nuevo <b>Usuario Normal</b>
    </button>
  </div>
  <hr class="w-100" />
  <div class="row titulos">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 titulo">
      <b>USUARIO</b>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 titulo">
      <b>UNIDAD</b>
    </div>
  </div>
  @for (u of usuariosNormales(); track u.idString) {
  <app-usuario [usuario]="u" />
  }
</div>
<!-- Modal usuarioNormal-->
<div
  class="modal fade"
  id="modal-nuevo-usuarioNormal"
  tabindex="-1"
  aria-labelledby="modal-nuevo-usuarioNormal-Label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-nuevo-usuarioNormal-Label">Nuevo Usuario Normal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usuarioForm">
          <!-- Teléfono -->
          <div class="mb-3 col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
            <label for="tfno" class="form-label titulo1"
              ><b>TELÉFONO<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" id="tfno" formControlName="tfno" />
            @if (tfno?.touched && tfno?.invalid) {
            <span class="text-danger">El teléfono es obligatorio y debe tener 9 dígitos</span>
            }
          </div>
          <!-- Email -->
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="email" class="form-label titulo1"
              ><b>CORREO ELECTRÓNICO<sup class="text-danger">*</sup></b></label
            >
            <input type="email" class="form-control" id="email" formControlName="email" />
            <div id="emailHelp" class="form-text">Debe ser un correo válido</div>
            @if (email?.touched && email?.invalid) {
            <span class="text-danger">El correo electrónico es obligatorio y debe ser válido</span>
            }
          </div>
          <!-- Notificaciones -->
          <div class="mb-3">
            <label class="form-label me-2 titulo1"><b>¿QUIERE RECIBIR NOTIFICACIONES?</b></label>
            <input
              type="checkbox"
              class="letra"
              id="emailAdmitido"
              formControlName="emailAdmitido"
            />
          </div>
          <!-- Descripción -->
          <div class="mb-3">
            <label class="form-label titulo1"
              ><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label
            >
            <textarea class="form-control letra" id="descripcion" formControlName="descripcion">
            </textarea>
            @if (descripcion?.touched && descripcion?.invalid) {
            <div class="text-danger">La descripción es obligatoria.</div>
            }
          </div>
          <!-- Username -->
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="username" class="form-label titulo1"
              ><b>USUARIO<sup class="text-danger">*</sup></b></label
            >
            <input type="text" class="form-control" id="username" formControlName="username" />
            @if (username?.touched && username?.invalid) {
            <div class="text-danger">El usuario es obligatorio.</div>
            }
          </div>
          <!-- Password -->
          <div class="mb-3 col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <label for="password" class="form-label titulo1"
              ><b>CONTRASEÑA<sup class="text-danger">*</sup></b></label
            >
            <input type="password" class="form-control" id="password" formControlName="password" />
            @if (password?.touched && password?.invalid) {
            <div class="text-danger">La contraseña es obligatoria.</div>
            }
          </div>
          <!-- UNIDAD -->
          <div class="mb-3 col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
            <label class="form-label titulo1"><b>UNIDAD</b></label>
            <select class="form-select" formControlName="unidad">
              <option [ngValue]="null" disabled selected>Selecciona una unidad</option>
              @for (u of unidades(); track u.idString) {
              <option [ngValue]="u">
                {{ u.nombre }}
              </option>
              }
            </select>
            @if (unidad?.touched && unidad?.invalid) {
            <div class="text-danger">Debes seleccionar una unidad.</div>
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn"
          (click)="crearUsuario()"
          data-bs-dismiss="modal"
          [disabled]="usuarioForm.invalid"
        >
          Crear Usuario
        </button>
      </div>
    </div>
  </div>
</div>
