<div class="container">
  <h1 class="text-center">Crear nuevo <b>Usuario Superadministrador</b></h1>
  <form [formGroup]="registerForm">
    <!-- Teléfono -->
    <div class="mb-3">
      <label for="tfno" class="form-label"><b>TELÉFONO<sup class="text-danger">*</sup></b></label>
      <input type="text" class="form-control" id="tfno" formControlName="tfno" />
      @if (tfno?.touched && tfno?.invalid) {
      <span class="text-danger">{{ tfno?.errors | json }}</span>
      }
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label"><b>CORREO ELECTRÓNICO<sup class="text-danger">*</sup></b></label>
      <input type="email" class="form-control" id="email" formControlName="email" />
      <div id="emailHelp" class="form-text">Debe ser un correo válido</div>
      @if (email?.touched && email?.invalid) {
      <span class="text-danger">{{ email?.errors | json }}</span>
      }
    </div>
    <!-- Notificaciones -->
    <div class="mb-3">
      <label class="form-label me-2"
        ><b>¿QUIERE RECIBIR NOTIFICACIONES?</b></label
      >
      <input type="checkbox" class="letra" id="emailAdmitido" formControlName="emailAdmitido" />
    </div>
    <!-- Descripción -->
    <div class="mb-3">
      <label class="form-label"
        ><b>DESCRIPCIÓN<sup class="text-danger">*</sup></b></label
      >
      <textarea class="form-control letra" id="descripcion" formControlName="descripcion">
      </textarea>
      @if (descripcion?.touched && descripcion?.invalid) {
      <div class="text-danger">La descripción es obligatoria.</div>
      }
    </div>
    <!-- Username -->
    <div class="mb-3 col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
      <label for="username" class="form-label"><b>USUARIO<sup class="text-danger">*</sup></b></label>
      <input type="text" class="form-control" id="username" formControlName="username" />
      @if (username?.touched && username?.invalid) {
      <div class="text-danger">El usuario es obligatorio.</div>
      }
    </div>
    <!-- Password -->
    <div class="mb-3 col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
      <label for="password" class="form-label"><b>CONTRASEÑA<sup class="text-danger">*</sup></b></label>
      <input type="password" class="form-control" id="password" formControlName="password" />
      @if (password?.touched && password?.invalid) {
      <div class="text-danger">La contraseña es obligatoria.</div>
      }
    </div>
    <!-- Botones -->
    <a [routerLink]="routesPaths.login" class="btn btn-primary text-white col-2 me-5">Cancelar</a>
    <button
      type="button"
      class="btn btn-primary text-white col-2"
      data-bs-toggle="modal"
      data-bs-target="#modal-crear-usuario"
      [disabled]="registerForm.invalid"
    >
      Crear Usuario
    </button>
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-crear-usuario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Crear Usuario</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <label class="form-label"><b>Confirmar contraseña</b></label>
        <input
          type="password"
          class="form-control"
          [value]="passwordForRegisterFromUser()"
          name="passwordForRegisterFromUser"
          (input)="passwordForRegisterFromUser.set(txtPasswordForRegisterFromUser.value)"
          #txtPasswordForRegisterFromUser
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="solicitudRegistro()"
          data-bs-dismiss="modal"
        >
          Crear Usuario
        </button>
      </div>
    </div>
  </div>
</div>
